﻿@model WEBHR.Models.ViewModels.MailViewModel
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<script>

</script>
<html>
<head>
    <meta charset="UTF-8">
    <title>WEB-HR</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="container">
        <div class="info">
        </div>
    </div>
    <div class="form">
        <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
        <form class="login-form" asp-controller="Vost" asp-action="VostI" method="post">
            <label>@Model.Miss</label>
            <input asp-for="MailName" placeholder="почта" />
            <span asp-validation-for="MailName"></span>
            <button class="submit" type="submit">Выслать код</button>
            <p class="message2">Вспомнили пароль? <a href="/#">Возрат</a></p>
        </form>

    </div>

    <script src='~/js/index2.js'></script>

    <script src="js/index.js"></script>

</body>
</html>