﻿@model List<WEBHR.Models.User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Admin">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2">
        <div class="form">
            <table>
                <tr>
                    <th colspan="2">id</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Role</th>
                </tr>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td></td>
                        <td>@Model[i].Id</td>
                        <td>@Model[i].Email</td>
                        <td>@Model[i].Password</td>
                        <td>@Model[i].Role</td>
                    </tr>
                }
            </table>

        </div>
    </div>

</body>
</html>

