﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@model WEBHR.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<script type="text/javascript">
    function showHide() {
        for (var i= 0; i < 9;i++)
        {
            var obj = document.getElementById(i);
            if (obj.style.display != "block") {
                obj.style.display = "block"; //Показываем элемент
            }
            else obj.style.display = "none"; //Скрываем элемент
        }
    }   
</script>
<html>
<head>
    <meta charset="UTF-8">
    <title>WEB-HR</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="info">
        </div>
    </div>
    <div class="form">
        <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>

        @if (Model.Error != null)
        {
            <div style="color:red"> @Model.Error</div>
        }

        <form class="register-form" method="post" asp-controller="Home" asp-action="LogIn">
            <div asp-validation-summary="ModelOnly"></div>
            <input placeholder="почта" asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <input type="password" placeholder="пароль" asp-for="Password" onkeyup="var yratext=/['А-я,':']/; if(yratext.test(this.value)) this.value=this.value.substr(0, (this.value.length-1))"/>
            <span> Пароль от 5 до 15 символов!</span>
            @if (Model.Error != null)
            {
                <span> @Model.Error</span>
            }
            <select asp-for="Status" asp-items="ViewBag.Companies" style="width:300px;margin-bottom:10px" onchange="showHide()"></select>

            <input id="0" asp-for="NameOrg"  placeholder="наименование организации" style="display: none;" />
            <input id="4" asp-for="NameHR" placeholder="имя представителя" style="display: none;" />
            <input id="5" asp-for="Name2HR" placeholder="фамилия представителя" style="display: none;" />
            <input id="6" asp-for="NamberHR" type=number placeholder="контактный номер" style="display: none;" />
            <input id="7" asp-for="Posta" placeholder="почтовый адрес организации(физический)" style="display: none;" />
            <input id="8" asp-for="UNP" placeholder="УНП организации(необязательно)" style="display: none;" />

            <input id="1" asp-for="Name"  placeholder="имя" style="display: block;" />
            <input id="2" asp-for="Name2"  placeholder="фамилия" style="display: block;" />
            <input id="3" asp-for="Name3"  placeholder="отчество" style="display: block;" />
            <button type="submit">создать</button>
            <p class="message">Есть аккаунт? <a href="#">Войти</a></p>
        </form>

        <form class="login-form" method="post" asp-controller="Home" asp-action="Index" asp-route-returnUrl="@Model.ReturnUrl">
            <div asp-validation-summary="ModelOnly"></div>
            <input  placeholder="почта" asp-for="Email"  />
            <span asp-validation-for="Email"></span>
            <input type="password" placeholder="пароль" asp-for="Password" onkeyup="var yratext=/['А-я,':']/; if(yratext.test(this.value)) this.value=this.value.substr(0, (this.value.length-1))"/>
            <span asp-validation-for="Password"></span>
            <button type="submit">вход</button>
            <p class="message">Нет аккаунта? <a href="#">Создать</a></p>
            <p class="message2">Забыли пароль? <a href="/Vost/VostI">Восстановить</a></p>
        </form>

    </div>

    <script src='~/js/index2.js'></script>

    <script src="js/index.js"></script>

</body>
</html>