﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Admin">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2">
        <div class="form">
            <a href="/DB/USER"><button>USER DB</button></a>
            <a href="/DB/CAF"><button>CAF DB</button> </a>
            <a href="/DB/HR"><button>HR DB</button>  </a>
            <a href="/DB/STUD"><button>STUD DB</button></a>
        </div>
    </div>

</body>
</html>

