﻿@model WEBHR.Models.ViewModels.RegDecViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Admin">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            <form method="post" asp-controller="Admin" asp-action="RegDec">
                <div class="form3">
                    <div style="margin-bottom:10px;margin-top:-10px;color:red">@Model.Error</div>
                    <div> Краткое имя(например&rarr;ИП):<input style="width:65px;" asp-for="Name" max="7" maxlength="7"></div>
                    <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                    <div> Пароль:<input style="width:140px;" asp-for="Password" max="15" maxlength="15" onkeyup="var yratext=/['А-я,':']/; if(yratext.test(this.value)) this.value=this.value.substr(0, (this.value.length-1))"></div>
                    <button type="submit">Создать</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>

