﻿@model WEBHR.Models.ViewModels.CarViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Caf/mon">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2" style="margin-top:50px;">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            @if (Model.Error != null)
            {
                <div style="color:red"> @Model.Error</div>
            }
            <form method="post" asp-controller="Caf" asp-action="NewCar">
                <div class="form3">
                    <div>Предприятие <input style="width:145px;" asp-for="Org"> </div>
                    <div>С <input style="width:45px;" asp-for="God" value="2018" type="number"> по <input style="width:45px;" asp-for="God2" value="" type="number"> годы</div>
                    <button type="submit">Добавить</button>
                    <input id="in" value="@Model.id" style="visibility:hidden" asp-for="id">  
                </div>
            </form>
            <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
            <div style="font-size:45px"> @ViewBag.name</div>
            @if (Model == null ||  Model.cars == null || Model.cars.Count() == 0)
            {
                <div style="color:red;font-size:25px"> ПУСТО!!! </div>
            }
            else
            {
            <table>
                <tr>
                    <th colspan="2">Предприятие</th>
                    <th>Год с</th>
                    <th>Год по</th>
                    <th>Удалить</th>
                    <th>Редактор</th>
                </tr>

                @for (int i = 0; i < Model.cars.Count(); i++)
                {
                    <tr>
                        <td></td>
                        <td>@Model.cars[i].Org</td>
                        <td>@Model.cars[i].God</td>
                        <td>@Model.cars[i].God2</td>
                        <td><button style=" box-shadow:none;margin-left: 5px;margin-top: 1px;padding: 10px;width: 90%;font-size:12px;background-color:red" onclick="window.location.href='/Caf/CarRemove/'+ @Model.cars[i].id +''; return false">X</button></td>
                        <td><button style=" box-shadow:none;margin-left: 5px;margin-top: 1px;padding: 10px;width: 90%;font-size:12px;background-color:yellowgreen" onclick="window.location.href='/Caf/CarRed/'+ @Model.cars[i].id +''; return false">РЕДАКТОР</button></td>
                    </tr>
                }
            </table>
            }
        </div>
    </div>
</body>
</html>

