﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Сaf Menu</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blur Menu with CSS3 Transitions" />
    <meta name="keywords" content="css3, transitions, menu, blur, navigation, typography, font, letters, text-shadow" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/demoHR.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleHR.css" />
</head>
<body style="background-image: url(images/pattern.png), url(images/2.jpg);">
    <div class="container">
        <div class="header">
            <a href="/Home/LogOff">
                <strong>&laquo; выход </strong>
            </a>
            <span class="right">
                <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
                <a href="https://www.gstu.by/">
                    <strong>ГГTУ Сухого</strong>
                </a>
            </span>
            <div class="clr"></div>
        </div>
        <h1>CAF-Menu</h1>
        <div class="content">
            <ul class="bmenu">
                <li><a href="Caf/Zav">Заявления</a></li>
                <li><a href="Caf/Rez">Новые резюме</a></li>
                <li><a href="Caf/OldRez">Все резюме</a></li>
                <li><a href="Caf/Mon">Мониторинг</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src='~/js/HR.js'></script>
</body>
</html>
