﻿@model List<WEBHR.Models.OldStud>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Caf">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2" style="margin-top:50px;">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
                <table>
                    <tr>
                        <th colspan="2">Ф.И. выпускника</th>
                        <th>Факультет</th>
                        <th>Специальность</th>
                        <th>Год</th>
                        <th>Карьера</th>
                    </tr>

                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td></td>
                            <td>@Model[i].Name @Model[i].Name2 @Model[i].Name3</td>
                            <td>@Model[i].Fak</td>
                            <td>@Model[i].Sp</td>
                            <td>@Model[i].GodV</td>
                            <td><button style="background-color:orange; box-shadow:none;margin-top: 1px;padding: 10px;width: 100%;font-size:12px;" onclick="window.location.href='/Caf/CarForId/'+@Model[i].Id+''; return false">Подробно</button></td>
                        </tr>
                    }
                </table>
        </div>
    </div>
</body>
</html>