﻿@model WEBHR.Models.ViewModels.CarRedViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Dec/CarForId/@Model.id">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2" style="margin-top:50px;">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            @if (Model.error != null)
            {
                <div style="color:red"> @Model.error</div>
            }
            <form method="post" asp-controller="Dec" asp-action="CarRed">
                <div class="form3">
                    <div>Предприятие <input style="width:145px;" asp-for="Org" value="@Model.car.Org"> </div>
                    <div>Год начала <input style="width:45px;" asp-for="God" value="@Model.car.God"> </div>
                    <div>Год окончания <input style="width:45px;" asp-for="God2" value="@Model.car.God2"> </div>
                    <button type="submit">Сохранить</button>
                    <input id="in" value="@Model.id" style="visibility:hidden" asp-for="id">
                    <input id="in" value="@Model.car.id" style="visibility:hidden" asp-for="carId">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

