﻿@model List<WEBHR.Models.Car>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Cad/mon">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2" style="margin-top:50px;">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            <div style="font-size:45px"> @ViewBag.name </div>
            @if (Model == null || Model.Count() == 0)
            {
                <div style="color:red;font-size:25px"> ПУСТО!!! </div>
            }
            else
            {
            <table>
                <tr>
                    <th colspan="2">Предприятие</th>
                    <th>Год с</th>
                    <th>Год по</th>
                </tr>

                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td></td>
                        <td>@Model[i].Org</td>
                        <td>@Model[i].God</td>
                        <td>@Model[i].God2</td>
                    </tr>
                }
            </table>
            }
        </div>
    </div>
</body>
</html>

