﻿@model List<WEBHR.Models.Zap>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
    <script language="javascript" type="text/javascript" src="Scripts/jquery-1.4.1.min.js"></script>
    <script src="~/js/JavaScript.js"> </script>
    <script src="jquery.imageLens.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $(".go").click(function (e) {
                var action = $(e.target).attr("data-action");;
                var MyId = this.id;
                $.ajax({
                    url: action == "all" ? "/api/Zap" : ('/api/Zap/' + this.id + ''),
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        for (var i = 0; i <= data.length; i++) {
                            var elem = document.getElementsByClassName(i)[0];
                            elem.id = MyId * 7 + i;
                            var elem2 = document.getElementById("300+" + i);
                            elem2.innerHTML = data[i].quantity;
                            elem2 = document.getElementById("400+" + i);
                            if (data[i].speList != null) {
                                elem2.innerHTML = data[i].speList;
                            }
                            else {
                                elem2.innerHTML = "все";
                            }
                            elem2 = document.getElementById("500+" + i);
                            var s = new Date(data[i].data).toLocaleString();
                            elem2.innerHTML = s;
                        }
                    }
                });
                e.preventDefault();
            });
        });
    </script>
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Cad">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2" style="margin-top:50px;">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            @if (Model == null || Model.Count() == 0)
            {
                <div style="color:red;font-size:25px"> нету заявок </div>
            }
            else
            {
                if (Model.Count() < 7)
                {
                    <table>
                        <tr>
                            <th colspan="2">Компания</th>
                            <th>Ф.И. представителя</th>
                            <th>Кол-во человек</th>
                            <th>Специальности</th>
                            <th>Дата</th>
                            <th>Статус</th>
                        </tr>
                        @for (int i = 0; i < Model.Count(); i++)
                    {
                            <tr id="@i" onclick="window.location.href='/Cad/ZavForId/'+this.id+''; return false">
                                <td></td>
                                <td>@Model[i].Hr.NameOrg</td>
                                <td>@Model[i].Hr.NameHR @Model[i].Hr.Name2HR</td>
                                <td>@Model[i].Quantity</td>
                                @if (@Model[i].SpeList != null)
                                {
                                    <td>@Model[i].SpeList</td>
                                }
                                else
                                {
                                    <td>Все</td>
                                }
                                <td>@Model[i].Data.ToUniversalTime()</td>
                                <td>@Model[i].Status</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <table>
                        <tr>
                            <th colspan="2">Компания</th>
                            <th>Ф.И. представителя</th>
                            <th>Кол-во человек</th>
                            <th>Специальности</th>
                            <th>Дата</th>
                            <th>Статус</th>
                        </tr>
                        @for (int i = 0; i < 7; i++)
                        {
                            <tr id="@i" class=@i onclick="window.location.href='/Cad/ZavForId/'+this.id+''; return false">
                                <td></td>
                                <td id="100+@i">@Model[i].Hr.NameOrg</td>
                                <td id="200+@i">@Model[i].Hr.NameHR @Model[i].Hr.Name2HR</td>
                                <td id="300+@i">@Model[i].Quantity</td>
                                @if (@Model[i].SpeList != null)
                                {
                                    <td id="400+@i">@Model[i].SpeList</td>
                                }
                                else
                                {
                                    <td id="400+@i">Все</td>
                                }
                                <td id="500+@i">@Model[i].Data.ToUniversalTime()</td>
                                <td>@Model[i].Status</td>
                            </tr>
                        }
                    </table>


                    <ul id="pagination-flickr">
                        @for (int i = 1; i <= ((ViewBag.len + 6) / 7); i++)
                        {
                            int z = i - 1;
                            <li class="go" id=@z data-action="one"><a style="color:black;">@i</a></li>
                        }
                    </ul>

                }
            }
        </div>
    </div>
</body>
</html>
