﻿@model WEBHR.Models.Zap
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/NewZap.css" />
    <script language="javascript" type="text/javascript" src="Scripts/jquery-1.4.1.min.js"></script>
    <script src="~/js/JavaScript.js"> </script>
    <script src="jquery.imageLens.js" type="text/javascript"></script>

</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Cad/zav">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2" style="margin-top:50px;">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            <div class="form3">
                <text>Фирма: @Model.Hr.NameOrg &Iota; УНП: @Model.Hr.UNP &Iota; Физ. почта: @Model.Hr.Posta &Iota; Ф.И. представителя: @Model.Hr.NameHR @Model.Hr.Name2HR</text>
                <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                @if (Model.Hr.Phone != null)
                {
                    <text>Почта: @Model.Hr.User.Email &Iota; Телефон: @Model.Hr.NamberHR  &Iota; Доп. телефон: @Model.Hr.Phone</text>
                }
                else
                {
                    <text>Почта: @Model.Hr.User.Email &Iota; Телефон: @Model.Hr.NamberHR  &Iota; Доп. телефон: Не указан</text>
                }
                <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                <div>Нужно @Model.Quantity человек.</div>
                @if (Model.SpeList != null)
                {
                    <div>Специальностей: @Model.SpeList</div>
                }
                else
                {
                    <div>Всех специальностей</div>
                }
                <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                <div>Коментарий представителя:</div>
                @if (Model.Comment == null)
                {
                    <textarea type='text' readonly> Представитель не оставлял коментария</textarea>
                }
                else
                {
                    <textarea type='text' readonly>@Model.Comment</textarea>
                }
            </div>
        </div>
    </div>
</body>
</html>

