﻿@model WEBHR.Models.Zap
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/NewZap.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Stud/All">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            <text>Организация: @Model.Hr.NameOrg &Iota; Ф.И. представителя: @Model.Hr.NameHR @Model.Hr.Name2HR &Iota; От: @Model.Data</text>
            <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
            <text>Ищет @Model.Quantity выпускников следующих специальностей специальностей:</text>
            @if (Model.SpeList != null)
            {
                <text>@Model.SpeList</text>
            }
            else
            {
                <text>Подходят выпускники всех специальностей</text>
            }
            <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
            <text>Подробнее:</text>
            @if (Model.Comment != null)
            {
                <text>@Model.Comment</text>
            }
            else
            {
                <text>Представитель не оставил никаких подробностей для этой вакансии :(</text>
            }
        </div>
    </div>
</body>
</html>

