﻿@model WEBHR.Models.ViewModels.RezumeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/NewZap.css" />
    <script language="javascript" type="text/javascript" src="Scripts/jquery-1.4.1.min.js"></script>
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/Stud">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2">
        <div class="form">
            <div class="form3">
                <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
                <text>Правила:</br></text>
                <text>1) Оставил резюме -> проверил твой деканат -> увидели представители компаний (думай что пишешь!).</br></text>
                <text>2) Деканат может отклонить твое резюме.</br></text>
                <text>3) Если твое резюме долго не проверяют, то смело иди в свой деканат и напомни о себе.</br></text>
                <text>4) Если твое резюме кого-то заинтересут тебе позвонят.</br></text>
                <text>5) Если ты внес изменения в свое резюме, то твое старое автоматически удалится, а новому придется вновь ждать решения деканата.</br></text>
                <text>6) Зашел,а твоего резюме нету? Его удалил деканат!</br></text>
                <text>7) Обязательно оставь свой номер!</br></text>
                <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                @if (Model.rezume == null)
                {
                <div>Статус резюме: У вас еще нету резюме</div>
                <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                }
                else
                {
                     @if (Model.rezume.Status == "off")
                     {
                         <div style="color:red">Статус резюме: Ваше резюме ожидает решения деканата</div>
                         <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                     }
                     @if (Model.rezume.Status == "on")
                     {
                         <div style="color:forestgreen">Статус резюме: Ваше резюме опубликованно.</div>
                         <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                     }
                }
                @if (Model.Status != null)
                 {
                    <div style="color:red;font-size:25px;">@Model.Status</div>
                    <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                 }

                @if (Model.rezume != null)
                {
                   <form method="post" asp-controller="Stud" asp-action="Rezume" enctype="multipart/form-data">
                       <div>Оставь свой номер<input type=number style="width:155px;" asp-for="Number" value="@Model.rezume.Number"></div>
                       <div>Видите место проживания(Страна,область,город - не более): </div>
                       <input style="width:255px;" asp-for="Text" value="@Model.Text">
                      <div>Загрузите полное резюме(.DOC и тд)</div> <input type="file" name="uploadedFile" asp-for="uploadedFile"/><br>
                       @if (Model.rezume.Path == null)
                       {
                           <div>Вы не загружали полное резюме!</div>
                       }
                       @if (Model.rezume.Path != null)
                       {
                           <div>У вас уже есть загруженное резюме. Его можно <a href="@Model.rezume.Path" download>скачать тут</a></div>
                       }
                       <button type="submit">Изменить резюме</button>
                   </form>
                }
                else
                {
                    <form method="post" asp-controller="Stud" asp-action="Rezume" enctype="multipart/form-data">
                        <div>Оставь свой номер<input type=number style="width:155px;" asp-for="Number"></div>
                        <div>Краткое описание резюме:</div>
                        <textarea asp-for="Text" type='text' style=" height: 180px;" placeholder="Текст резюме"></textarea>
                        <div>Загрузите полное резюме(.DOC и тд)</div> <input type="file" name="uploadedFile" asp-for="uploadedFile" /><br>
                        <button type="submit">Создать резюме</button>
                    </form>
                }

    @if (Model.rezume != null)
                {
        <form action="/Stud/DelRezume">
            <button type="submit">Удалить резюме!</button>
        </form>
    }
</div>

        </div>
    </div>
</body>
</html>
