﻿.header {
    height: 25px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
    font-size: 11px;
    background: rgba(0,0,0,1);
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}

    .header a {
        padding: 0px 10px;
        letter-spacing: 1px;
        color: #ddd;
        display: block;
        float: left;
    }

        .header a:hover {
            color: #fff;
        }

    .header span.right {
        float: right;
    }

        .header span.right a {
            float: none;
            display: inline;
        }

.activite_wall {
    display: block;
    background: #f9f9f9;
    padding: 4px;
    width: 560px;
}

    .activite_wall:hover {
        background: #F9FCFF;
    }

.avatare {
    padding: 3px;
    border: 1px solid #d2d2d2;
}

.leftiks {
    color: #666666;
    width: 130px;
    padding: 5px;
    background: #f5f5f5;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px solid #d2d2d2;
    border-right: 1px dotted #d2d2d2;
}

.rightiks {
    width: 420px;
    padding: 5px;
    background: #f9f9f9;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    border-left: 1px dotted #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

.promij {
    height: 20px;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
}

.podpee {
    padding: 3px;
    border: 1px solid #d2d2d2;
}
.form {
    z-index: 1;
    background: #FFFFFF;
    background-color: rgba(248, 244, 244, 0.75);
    width:auto;
    display:inline-block;
    margin: 30px auto 100px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    box-shadow: 0 0 18px rgba(0,0,0,1);
}
    .form button {
        outline: 0;
        background: #EF3B3A;
        width: 100%;
        border: 0;
        padding: 15px;
        margin-top:8px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        box-shadow: 10px 11px 46px -6px rgba(0,0,0,0.88);
    }
    .form .thumbnail {
        background: #EF3B3A;
        width: 150px;
        height: 150px;
        margin: -15px auto 10px;
        padding: 50px 30px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        box-sizing: border-box;
    }

        .form .thumbnail img {
            display: block;
            width: 170%;
            height: 380%;
            margin-top: -65px;
            margin-left: -30px;
        }
.form2 {
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: -95px;
}
body {
    background: url(/images/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Josefin Slab', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    position:relative;
    margin-left: 10px;
    margin-top: 0px;
    padding: 23px;
    font-size: 38px;
    color: #fff;
    text-align: left;
    font-weight: 400;
    text-align: left;
}
