﻿.header {
    height: 25px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
    font-size: 11px;
    background: rgba(0,0,0,1);
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}

    .header a {
        padding: 0px 10px;
        letter-spacing: 1px;
        color: #ddd;
        display: block;
        float: left;
    }

        .header a:hover {
            color: #fff;
        }

    .header span.right {
        float: right;
    }

        .header span.right a {
            float: none;
            display: inline;
        }

body {
    background: url(/images/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Josefin Slab', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(/images/error.png);
}

#pagination-flickr {

}
    #pagination-flickr li {
        border: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        list-style: none;

    }

    #pagination-flickr a {
        border: solid 1px #DDDDDD;
        margin-right: 2px;
        background-color: #EF3B3A;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        box-shadow: 10px 11px 46px -6px rgba(0,0,0,0.88);
    }

#pagination-flickr .previous-off,
#pagination-flickr .next-off {
    color: #666666;
    display: block;
    float: left;
    font-weight: bold;
    padding: 3px 4px;
}

#pagination-flickr .next a,
#pagination-flickr .previous a {
    font-weight: bold;
    border: solid 1px #FFFFFF;
}

#pagination-flickr .active {
    color: #ff0084;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px;
}

#pagination-flickr a,
#pagination-flickr a:visited {
    color: #0063e3;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

    #pagination-flickr a:hover {
        border: solid 1px #666666;
    }
.form {
    z-index: 1;
    background: #FFFFFF;
    background-color: rgba(248, 244, 244, 0.75);
    width: auto;
    display: inline-block;
    margin: 30px auto 100px;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    box-shadow: 0 0 18px rgba(0,0,0,1);
}

    .form button {
        outline: 0;
        background: #EF3B3A;
        width: 100%;
        border: 0;
        padding: 15px;
        margin-top: 8px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        box-shadow: 10px 11px 46px -6px rgba(0,0,0,0.88);
    }

    .form .thumbnail {
        background: #EF3B3A;
        width: 150px;
        height: 150px;
        margin: -15px auto 10px;
        padding: 50px 30px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        box-sizing: border-box;
    }

        .form .thumbnail img {
            display: block;
            width: 170%;
            height: 380%;
            margin-top: -65px;
            margin-left: -30px;
        }
.form2 {
    width: 1000px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
}
table {
    border-spacing: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

th {
    padding: 10px 20px;
    background: #56433D;
    color: #F9C941;
    border-right: 2px solid;
    font-size: 0.9em;
}
    th:first-child {
        text-align: left;
    }

    th:last-child {
        border-right: none;
    }

td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #56433D;
    border-bottom: 2px solid #56433D;
    border-right: 2px solid #56433D;
}

    td:first-child {
        border-left: 2px solid #56433D;
        border-right: none;
    }

    td:nth-child(2) {
        text-align: left;
    }
tr {
    cursor: pointer;
    box-shadow: 8px 8px 26px -3px rgba(0,0,0,0.88);
}

    tr:hover {
        background: #786b59; 
        color: #ffe;
    }