﻿@model List<string>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/IFORM.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/HR">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <h1 style="font-size:30px">Выбор группы</h1>
    <div class="form2">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <form action="/HR/RezumeList/@i">
                    <button id="@i" style="box-shadow:none">@Model[i]</button>
                </form>
            }
</div>
    </div>
</body>
</html>
