﻿@model WEBHR.Models.ViewModels.HRViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/IFORM.css" />
</head>
<body>
        <div class="header" style="background-color:#000000;">
            <a href="/HR">
                <strong>&laquo; НАЗАД </strong>
            </a>
            <span class="right">
                <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
                <a href="https://www.gstu.by/">
                    <strong>ГГTУ Сухого</strong>
                </a>
            </span>
            <div class="clr"></div>
        </div>
        <h1>HR-Профиль</h1>
        <div class="form2">
            <div class="form">
                <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
                <table style="border-collapse:collapse;margin-left:-252px">
                    <tr>
                        <td width="250px" valign="top">
                        <td valign="top">
                            <form asp-controller="HR" asp-action="HRChange">
                                <table style="border-collapse:collapse;margin-top:3px;">
                                    <tr>
                                        <td class="leftiks">Почта(Mail):</td>
                                        <td class="rightiks">@Model.Mail</td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">Тип аккаунта:</td>
                                        <td class="rightiks"><font color="#aab7c5">HR</font></td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">Статус:</td>
                                        <td class="rightiks"><font color="Green">Online</font></td>
                                    </tr>
                                    <tr>
                                        <td class="promij" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">Имя:</td>
                                        <td class="rightiks"><input  asp-for="NameHR2" value="@Model.NameHR"></td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">Фамилия:</td>
                                        <td class="rightiks"><input  asp-for="Name2HR2" value="@Model.Name2HR"></td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">Предприятие:</td>
                                        <td class="rightiks"><input  asp-for="NameOrg2" value="@Model.NameOrg"></td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">УНП:</td>
                                        <td class="rightiks"><input  asp-for="UNP2" value="@Model.UNP"></td>
                                    </tr>
                                    <tr>
                                        <td class="promij" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">Номер телефона:</td>
                                        <td class="rightiks"><input type=number asp-for="NamberHR2" value="@Model.NamberHR"></td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">Доп. номер:</td>
                                        <td class="rightiks"><input type=number asp-for="Phone2" value="@Model.Phone"></td>
                                    </tr>
                                    <tr>
                                        <td class="leftiks">Почта(Физ.):</td>
                                        <td class="rightiks"><input asp-for="Posta2" value="@Model.Posta"></td>
                                    </tr>

                                </table>
                                <button type="submit">Редактировать</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</body>
</html>