﻿@model WEBHR.Models.ViewModels.NewZapViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/NewZap.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/HR">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            <form method="post" asp-controller="HR" asp-action="NewZap">
                <div class="form3">
                    <div style="margin-bottom:10px;margin-top:-10px;color:red">@Model.Status</div>
                    <text>Фирма: @Model.Hr.NameOrg &Iota; УНП: @Model.Hr.UNP &Iota; Физ. почта: @Model.Hr.Posta &Iota; Ф.И. представителя: @Model.Hr.NameHR @Model.Hr.Name2HR</text>
                    <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                    <text>Почта: @Model.Hr.User.Email &Iota; Телефон: @Model.Hr.NamberHR  &Iota; Доп. телефон: -@Model.Hr.Phone</text>
                    <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                    <div>Сколько нужно человек?&rarr;<input type=number style="width:45px;" asp-for="Colvo" value="0">   Выпускники каких специальностей вас интересуют? <input  type="button" id="on" onclick="change2()" style="text-shadow: 0 1px 0 #757575; font-family: Courier New;border: 0 none transparent;margin-left:5px; margin-top:9px;background-color:#EF3B3A;cursor: pointer;box-shadow: 8px 8px 30px -6px rgba(0,0,0,1);" value="Сбросить"></div>
                    <input id="in" value="" style="visibility:hidden"  asp-for="str">  
                         <div class="linebutton">
                             @for (int i = 0; i < Model.Sp.Count; i++)
                             {
                                <input type="button" id="@i" onclick="change(@i)" style=" text-shadow: 0 1px 0 #757575;font-family: Courier New;border: 0 none transparent;margin-top:9px;background-color:#EF3B3A;cursor: pointer;box-shadow: 8px 8px 30px -6px rgba(0,0,0,1);" value="@Model.Sp[i]">
                             }
                         </div>
                    <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                    <textarea asp-for="Coment" type='text' style="" placeholder="Коментарий к заявлению"></textarea>
                    <button type="submit">Оставить заявку</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function change(obj) {
        var elem = document.getElementById(obj);
        elem.style.backgroundColor = "green";
        elem.disabled = true;
        var elem2 = document.getElementById("in");
        elem2.value = elem2.value + elem.value + ",";
    }
    function change2() {
        var elem = document.getElementById("in");
        elem.value = "";
        for (var i = 0; i < @Model.Sp.Count; i++)
        {
            var elem = document.getElementById(i);
            elem.style.backgroundColor = "#EF3B3A";
            elem.disabled = false;
        }
    }
</script>