﻿@model List<WEBHR.Models.Rezume>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Scan.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/HR/AllRezume">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2" style="margin-top:50px;">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>
            <table>
               <tr>
                   <th colspan="2">Ф.И. выпускника</th>
                   <th>Место проживания</th>
                   <th>Мобильный номер</th>
                   <th>Скачать резюме</th>
               </tr>
               @for (int i = 0; i < Model.Count(); i++)
               {
                <tr>
                    <td></td>
                    <td>@Model[i].Stud.Name.ToUpper() @Model[i].Stud.Name2.ToUpper()  </td>
                    <td>@Model[i].Text</td>
                    <td>@Model[i].Number</td>
                    <td><a href="@Model[i].Path" download>Скачать</a></td>
                </tr>
               }
            </table>
        </div>
    </div>
</body>
</html>

