﻿@model WEBHR.Models.ViewModels.ZamViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-HR</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/css/NewZap.css" />
</head>
<body>
    <div class="header" style="background-color:#000000;">
        <a href="/HR/Scan">
            <strong>&laquo; НАЗАД </strong>
        </a>
        <span class="right">
            <a href="https://www.gstu.by/university/citizen-appeals/electronic-appeal" target="_blank">«Одно окно»</a>
            <a href="https://www.gstu.by/">
                <strong>ГГTУ Сухого</strong>
            </a>
        </span>
        <div class="clr"></div>
    </div>
    <div class="form2">
        <div class="form">
            <div class="thumbnail"><img src="/images/konfederatka.jpg" /></div>  
                <div class="form3">
                    <form method="post" asp-controller="HR" asp-action="Con">
                        <div style="margin-bottom:10px;margin-top:-10px;height:15px">Для изменения информации о представители или компании зайдите в личный кабинет!</div>
                        <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                        <text>Фирма: @Model.zap.Hr.NameOrg &Iota; УНП: @Model.zap.Hr.UNP &Iota; Физ. почта: @Model.zap.Hr.Posta &Iota; Ф.И. представителя: @Model.zap.Hr.NameHR @Model.zap.Hr.Name2HR</text>
                        <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                        <text>Почта: @Model.zap.Hr.User.Email &Iota; Телефон: @Model.zap.Hr.NamberHR  &Iota; Доп. телефон: -@Model.zap.Hr.Phone</text>
                        <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                        <div>Нужно &rarr;<input asp-for="NEWcolvo" style="width:45px;" value="@Model.zap.Quantity"> человек.</div>
                        @if (Model.zap.SpeList != null)
                        {
                            <div>Специальностей: @Model.zap.SpeList</div>
                        }
                        else
                        {
                            <div>Всех специальностей</div>
                        }
                        <input type="button" onclick="ON()" id="on2" style="text-shadow: 0 1px 0 #757575; font-family: Courier New;border: 0 none transparent; margin-left:240px; margin-top:9px;background-color:#EF3B3A;cursor: pointer;box-shadow: 8px 8px 30px -6px rgba(0,0,0,1);" value="Изменить набор нужных специальностей">
                        <input type="button" id="on3" onclick="change2()" style="display:none;margin-left:300px; text-shadow: 0 1px 0 #757575; font-family: Courier New;border: 0 none transparent;margin-top:9px;background-color:#EF3B3A;cursor: pointer;box-shadow: 8px 8px 30px -6px rgba(0,0,0,1);" value="Отменить изменения набора!">

                        <input id="in" value="@Model.zap.SpeList" style="visibility:hidden" asp-for="NEWstr"> 
                        <input id="in2" value="@Model.OLDid" style="visibility:hidden" asp-for="id2"> 
                        <div class="linebutton" id="9999" style="display:none;">
                            @for (int i = 0; i < Model.Sp.Count; i++)
                            {
                                <input type="button" id="@i" onclick="change(@i)" style=" text-shadow: 0 1px 0 #757575;font-family: Courier New;border: 0 none transparent;margin-top:9px;background-color:#EF3B3A;cursor: pointer;box-shadow: 8px 8px 30px -6px rgba(0,0,0,1);" value="@Model.Sp[i]">
                            }
                        </div>

                        <div style="margin-bottom:10px;width:auto;border-top:1.5px solid #000000;padding-left:10px;margin-top:5px"></div>
                        @if (Model.zap.Comment == null)
                        {
                            <textarea asp-for="NEWcoment" type='text' placeholder="Вы не оставляли комментарий к заявлению... Но! Никогда не поздно! Введите его сюда"></textarea>
                        }
                        else
                        {
                            <textarea asp-for="NEWcoment" type='text'></textarea>
                        }
                        @if (Model.zap.Status == "on")
                        {
                            <button type="submit">Сохранить изменения</button>
                        }
                    </form>
                    <form action="/HR/Del/@Model.zap.id">
                        <button type="submit">Удалить</button>
                    </form>
                    @if (Model.zap.Status=="on")
                    {
                    <form action="/HR/End/@Model.zap.id">
                        <button type="submit">Завершить(все условия заявки выполнены и ее можно закрыть)</button>
                    </form>
                    }
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function ON() {
        var elem = document.getElementById("on2");
        elem.style.display = "none";
        elem = document.getElementById("on3");
        elem.style.display = "block";
        elem = document.getElementById("9999");
        elem.style.display = "block";
        elem = document.getElementById("in");
        elem.value = "";
    }
        function change(obj) {
        var elem = document.getElementById(obj);
        elem.style.backgroundColor = "green";
        elem.disabled = true;
        var elem2 = document.getElementById("in");
        elem2.value = elem2.value + elem.value + ",";
    }
        function change2() {
         var elem = document.getElementById("on2");
         elem.style.display = "block";
         elem = document.getElementById("on3");
         elem.style.display = "none";
         elem = document.getElementById("9999");
         elem.style.display = "none";

         elem = document.getElementById("in");
         elem.value =@Html.Raw(Json.Serialize(Model.zap.SpeList));


        for (var i = 0; i < @Model.Sp.Count; i++) {
            var elem = document.getElementById(i);
            elem.style.backgroundColor = "#EF3B3A";
            elem.disabled = false;
        }
        }
</script>

